:root {
  --color-light: #7edfff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  max-width: 100%;
  display: grid;
  place-items: center;
  cursor: default;
  padding: 10px 0;
}

body {
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: rgb(0, 140, 187);
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

#current-info {
  display: grid;
  place-items: center;
  padding: 10px 0;
  min-height: 175px;
}

#location {
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

#current-temp {
  font-size: 5rem;
  margin-left: 13px;
  font-weight: 200;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

#high-low {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.elza-extra-light {
  font-family: elza, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.elza-light {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.elza-regular {
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elza-medium {
  font-family: elza, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#hourly-data {
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 4fr;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  max-height: 175px;
}

#daily-condition,
#ten-day-forecast label {
  display: grid;
  align-self: start;
  font-size: 0.9rem;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#hours {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: center;
}

.hour {
  min-width: 60px;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  place-items: center;
  border-radius: 5px;
  padding: 5px;
  scroll-behavior: smooth;

  img {
    width: 25px;
  }
}

.time {
  font-size: 0.9rem;
}

.hour-temp {
  font-size: 1.1rem;
}

#ten-day-forecast {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 0.75fr repeat(10, 1fr);

  label {
    font-size: 0.8rem;
    color: var(--color-light);
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.day {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 3fr 1fr;
  place-items: center;
  padding: 10px;

  img {
    width: 25px;
  }
}

.day-of-week {
  font-weight: 400;
  font-size: 1.1rem;
  justify-self: start;
}

.day-condition {
  justify-self: start;
}

.day-low {
  color: rgba(255, 255, 255, 0.75);
}

.bar-graph {
  background-color: rgba(255, 255, 255, 0.25);
  height: 4px;
  width: 90%;
  border-radius: 20px;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  input {
    width: 70%;
    height: 55%;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 1.1rem;
  }

  button {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:nth-of-type(1) {
    left: 5px;
  }

  button:nth-of-type(2) {
    right: 5px;
  }

  button:hover {
    background-color: rgb(0, 0, 0, 0.25);
  }
}

.two-square-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  div {
    background-color: rgb(0, 0, 0, 0.25);
    aspect-ratio: 1/1;
    border-radius: 10px;
    padding: 15px;

    p:nth-of-type(1) {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 0.8rem;
      align-self: start;
      color: var(--color-light);
    }
  }
}

.feels-uv {
  div {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 0.5fr 1fr;
    align-items: center;

    p:nth-of-type(2) {
      font-size: 2.5rem;
    }

    p:nth-of-type(3) {
      font-size: 1.1rem;
    }

    p:last-of-type {
      font-size: 0.9rem;
    }
  }
}

#wind {
  background-color: rgba(0, 0, 0, 0.25);
  height: 160px;
  border-radius: 10px;
  display: grid;
  padding: 15px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 5fr;

  #label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    color: var(--color-light);
  }

  div:nth-of-type(1) {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    padding: 0 5px;
    font-size: 0.9rem;
  }

  div:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    place-items: center;
  }

  hr {
    opacity: 25%;
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p:first-child {
      color: var(--color-light);
    }
  }

  p[id] {
    opacity: 100%;
  }
}

#compass {
  font-size: 5rem;
}

#sun-phase {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  p:nth-of-type(2) {
    font-size: 2rem;
    padding: 5px 0;
  }

  p:nth-of-type(3) {
    align-self: end;
    font-size: 0.9rem;
  }
}

#precipitation {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  p:nth-of-type(2) {
    font-size: 2rem;
    padding: 5px 0 0 0;
  }

  p:nth-of-type(3) {
    font-size: 1.25rem;
  }

  p:nth-of-type(4) {
    align-self: end;
    font-size: 0.9rem;
  }
}

#visibility {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  p:nth-of-type(2) {
    font-size: 2rem;
    padding: 5px 0 0 0;
  }

  p:nth-of-type(3) {
    align-self: end;
    font-size: 0.9rem;
  }
}

#humidity {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  p:nth-of-type(2) {
    font-size: 2rem;
    padding: 5px 0 0 0;
  }

  p:nth-of-type(3) {
    align-self: end;
    font-size: 0.9rem;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.25);
  height: 60px;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

footer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.full-gradient {
  background: linear-gradient(90deg, green, yellow, red, fuchsia);
}

@media (max-width: 500px) {
  body {
     width: calc(100% - 35px);
  }
}